<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="campoNome">Nome</label>
        <input type="text" id="campoNome" name="nome" class="form-control" placeholder="Insira seu nome" ngModel required />
    </div>
    <div class="form-group">
        <label for="campoTelefone">Telefone</label>
        <input type="text" id="campoTelefone" name="telefone" class="form-control" aria-describedby="telefoneAviso" placeholder="Insira seu telefone" ngModel required />
        <small id="telefoneAviso" class="form-text text-muted">Não enviaremos SMS para seu número</small>
    </div>
    <div class="form-group">
        <label for="campoEndereco">Endereço</label>
        <input type="text" id="campoEndereco" name="endereco" class="form-control" placeholder="Insira seu endereço" ngModel required />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" [disabled]="f.form.invalid">Enviar</button>
    </div>
</form>