<form [formGroup]="formCadastro" (ngSubmit)="enviar()">
    <div class="form-group">
        <label for="campoNome">Nome</label>
        <input type="text" formControlName="nome" id="campoNome" class="form-control" placeholder="Insira seu nome" />
    </div>
    <div class="form-group">
        <label for="campoTelefone">Telefone</label>
        <input type="text" formControlName="telefone" id="campoTelefone" class="form-control" aria-describedby="telefoneAviso" placeholder="Insira seu telefone" />
        <small id="telefoneAviso" class="form-text text-muted">Não enviaremos SMS para seu número</small>
    </div>
    <div class="form-group">
        <label for="campoEmail">Email</label>
        <input type="email" formControlName="email" id="campoEmail" class="form-control" placeholder="Insira seu email" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" [disabled]="formCadastro.invalid">Enviar</button>
    </div>
</form>