.container {
    text-align: center;
    border: 1px;
    border-style: ridge;
    margin-top: 60px;
    margin-bottom: 50px;
}

.btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

img {
    align-self: center;
}