.container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.btn {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
}